* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Rajdhani';
    background-color:  #f7f7f7;
    color: #222222;
}

/* --green-50: #effeef;
--green-100: #d9ffd9;
--green-200: #b6fcb7;
--green-300: #7df880;
--green-400: #25e92b;
--green-500: #13d419;
--green-600: #09b00f;
--green-700: #0b8a11;
--green-800: #0f6c13;
--green-900: #0e5913;
--green-950: #013205; */

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #020102;
    justify-content: right;
    position: fixed;
    z-index: 1;
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    color: aliceblue;
    padding: 2rem;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    text-transform: uppercase;
    position: relative;
    padding: 3px;
    transition: font-size 0.3s ease;
}

/* Estilos de la portada*/
.div-inicio{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gifs-inicio{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(0.1);
    object-fit: cover;
}
.contenido-portada{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 300px;
    backdrop-filter: blur(8px);
}
.cont-span{
    margin: 0 auto;
    width: 840px;
}
.contenido-portada .span1, .contenido-portada .span2, .contenido-portada .span3{
    margin-left: 3px;
}
.contenido-portada .span1{
    display: inline-block;
    margin: 3px;
    font-size: 30px;
    font-family: monospace;
    white-space: nowrap;/*para que las palabras se separen por palabras en si y no por espacios*/
}
.contenido-portada .span2{
    margin: 10px;
    display: inline-block;
    font-size: 33px;
    font-family: monospace;
    white-space: nowrap;/*para que las palabras se separen por palabras en si y no por espacios*/
    border-right: 3px solid;
    margin-right: 10px;
    width: 3ch; /* debe ser el total de caracteres que tiene el span*/
    opacity: 0;
    visibility: hidden;
    animation: 
    typing2 0.3s steps(3) 1s,
    barrita2 .5s infinite step-end alternate, 
    fadeIn 1s forwards 1s;
    overflow:hidden;
}
@keyframes typing2 {
    from { width: 0;}
    to { width: 3ch; border-color: transparent; }
}
@keyframes barrita2{
    50% {border-color: transparent;} /*al 50% de la animacion, se vuelve invisible el borde rigt y da el efecto de la barrita de escritura*/
    0%{border-color: transparent;}
}
@keyframes fadeIn {
    to {
      opacity: 1;
      visibility: visible;
    }
}
.contenido-portada .span3{
    margin: 10px;
    display: inline-block;
    font-size: 33px;
    font-weight: bold;
    color: #13d419;
    font-family: monospace;
    white-space: nowrap;/*para que las palabras se separen por palabras en si y no por espacios*/
    width: 16ch; /* debe ser el total de caracteres que tiene el span*/
    opacity: 0;
    visibility: hidden;
    animation: 
    typing3 1.95s steps(16) 1.3s, 
    fadeIn3 1s forwards 1.3s;
    overflow:hidden;
}
@keyframes typing3 {
    from { width: 0;}
}
@keyframes fadeIn3 {
    to {
      opacity: 1;
      visibility: visible;
    }
}
.contenido-portada .span4{
    margin: 10px;
    display: inline-block;
    font-size: 33px;
    font-family: monospace;
    white-space: nowrap;/*para que las palabras se separen por palabras en si y no por espacios*/
    border-right: 3px solid;
    margin-right: 10px;
    width: 23ch; /* debe ser el total de caracteres que tiene el span*/
    opacity: 0;
    visibility: hidden;
    animation: 
    typing4 2s steps(23) 3.3s,
    barrita4 .5s infinite step-end alternate, 
    fadeIn4 1s forwards 3.3s;
    overflow:hidden;
}
@keyframes typing4 {
    from { width: 0;}
}
@keyframes barrita4{
    50% {border-color: transparent;} /*al 50% de la animacion, se vuelve invisible el borde rigt y da el efecto de la barrita de escritura*/
}
@keyframes fadeIn4 {
    to {
      opacity: 1;
      visibility: visible;
    }
}
    
/* ESPACIADO DE LAS CAJAS CONTENEDORAS PRINCIPALES DE LA PAGINA*/
.articulo-habilidades, .articulo-portafolio{
    margin: 140px 100px 140px 100px;
    padding: 50px;
}
.articulo-sobremi{
    padding: 50px;
    margin: 0 100px 0 100px;
}
.h2-sobremi{
    margin-top: 140px;
    margin-left: 150px;
    padding: 20px;
    background-color: rgb(222, 223, 223);
    width: fit-content;
}
.resalt{
    color: #13d419;
    font-weight: bold;
}
/*-----------------------------------------------------*/
/* ARTICULO SOBRE MI */
.contSobreMi p {
    margin-top: 40px;
    margin-left: 40px;
}
.ancla-btn{
    display: inline-block;
}
.contCV{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25e92B;
    font-weight: bold;
    color: rgb(3, 3, 3);
    margin-left: 40px;
    margin-top: 30px;
    padding: 10px;
    border: none;
    
    border-radius: 10px;
    cursor: pointer;
    gap: 1rem;
    transition: transform 0.3s ease;
}
.articulo-sobremi{
    display: flex;
}
.contSobreMi{
    width: 800px;
    margin-right: 20px;
}
.contSobreMi-img{
    justify-content: center;
    align-items: center;
    width: 300px;
    min-width: 300px;
    min-height: 300px;
    height: 300px;
    margin: auto;
    clip-path: polygon(29% 0%, 71% 0%, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0% 71%, 0% 29%);
}
.contSobreMi-img img{
    width:105%;
    height: 100%;
    object-fit: cover;
    
}
a {
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.contSobreMi p{
    line-height: 1.5;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-word; /* Rompe las palabras largas si no hay suficiente espacio */
    overflow-wrap: break-word;
}
/*-------------------------------------------------------------*/
/* HABILIDADESSS*/

.articulo-habilidades h2 {
    padding: 20px;
    background-color: rgb(222, 223, 223);
    width: fit-content;
}
.box-habilidades img,.box-habilidades p {
    padding-left:32px;
}

.box-habilidades{
    padding-top: 40px;
    width: 400px;
    padding-right: 50px;
    display: inline-block;
}
.flex-Habilidades img{
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
}
/*-----------------------------------------------------------*/
/* Articulo porfatoflios*/

.articulo-portafolio h2 {
    padding: 20px;
    width: fit-content;
    background-color: rgb(222, 223, 223);
}
.grid-box h4{
    text-align: center;
}
.grid-box p{
    padding: 10px 5px 30px 5px; /* arriba derecha abajo izquierda */
}
.ancla{
    float: right;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.tecn-proyect{
    display: flex;
    align-items: center;
    justify-content: left;
}
.tecn-proyect p{
    padding: 5px;
    color: #397a3b;
}
.bi{
    font-size: 1.5rem;
}
/* CONTENEDOR PORTAFOLIOS GRID*/
.contenedor-portafolio{
    width: 100%;
    height: auto;
}
.contenedor-portafolio h3{
    text-align: center;
}
.grid-portafolio{
    padding: 50px;

    /*el grid es para cuanto tengas mas proyectos*/
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    gap: 2rem; 
    /* display: flex;
    flex: 1;
    gap: 5rem; */
}
.grid-box{
    background-color: #e4e4e4;
    width: 250px;
    min-width: 250px;
    height: auto;
    min-height: 300px;
    padding: 12px;
    position: relative;
    transition: transform 0.3s ease
}


.grid-box a{
    text-decoration: none;
}
.grid-box img {
    border-radius: 8px;
    width: 95%;
    height: 180px;
    padding: 5px;
    object-fit: cover;
}
/*-------------------------------------------------------------*/
/* FOOTER */
.piepg, .grupo1, .grupo2{
    z-index: 1;
}
.piepg{
    background-color: #091C0A;
    width: 100%;
    color: white;
}
.piepg .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto; /*para que este centrado el grupo 1*/
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*es para que haya 3 columnas y ocupen todo el ancho las 3 columnas */
    grid-gap: 50px; /* es el margen entre cada columna*/
    padding: 24px 0px; /*45 hacia arriba y 0 hacia los costados*/
}

/*Estilos de la caja de contactos en el footer*/
.contacto{
    width: 90%;
	height: 380px;
	background: #000;
	color: #fff;
    margin-top: 25px;
    margin-left: 60px;
	padding: 20px 30px;  /* peque침o espaciado adentro */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box1 h2{
    text-align: center;
    padding-bottom: 25px;
}

.box-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto label{
    margin: 0;
	padding: 0;
    margin-bottom: 3px;
	font-weight: bold;
	display: block;
}
.contacto input{
	width: 100%;
	margin-bottom: 20px;
}

.contacto .lbtext {
	border: none;
	height: 40px;
	background: #e4e3e3;
	color: #2c2c2c;
	font-size: 18px;
	border-radius: 2%;
	cursor: text;
    padding: 5px;
    box-sizing: border-box
}
.contacto .lbsms{
    border: none;
	height: 80px;
	background: #e4e3e3;
	color: #2c2c2c;
	font-size: 18px;
	border-radius: 2%;
    cursor: text;
    padding: 5px;
    box-sizing: border-box
}

.contacto button {
	border: none;
	height: 40px;
    margin-top: 20px;
	background: #25E92B;
	color: #070707;
    font-weight: bold;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
    transition: transform 0.2s ease;
}

.contacto .micorreo{
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}
.contacto .micorreo i{
    padding-right: 4px;
}


.box h2{
    color: #FFFFFF;
    font-size: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redsocial{
    margin-top: 25px;
}
.piepg .grupo1 .box .redsocial a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.piepg .grupo2{
    background-color: rgb(0, 0, 0);
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.piepg .grupo2 small{
    font-size: 15px;
}
.ftimglogo{
    width: 150px;
    height: 40px;
}
/*-----------------------------------------------------*/
/* Hover solo si se detecta que el despositivo tiene cursor
para evitar problemas de accesibilidad con los hover en mobile*/
@media (hover: hover) {
    .nav-list a{
        position: relative;
        transition: all .5s;
    }
    .nav-list a:hover{
        background-color: #6FC268;
        color: white;
    }
    /*crear el borde que se mueve hacia abajo*/
    .nav-list a:before{
        content: "";
        position: absolute;
        bottom: 12px;
        left: 12px;
        height: 12px;
        width: 12px;
        border: 3px solid #6FC268;
        border-width:0 0 3px 3px;
        opacity: 0;
        transition: all 0.3s;
    }
    /*crear el borde que se mueve hacia arriba*/
    .nav-list a:after{
        content: "";
        position: absolute;
        top: 12px;
        right: 12px;
        height: 12px;
        width: 12px;
        border: 3px solid #6FC268;
        border-width: 3px 3px 0 0;
        opacity: 0;
        transition: all 0.3s;
    }
    /* hace que los bordes que creamos en before y after se muevan a donde queremos */
    .nav-list a:hover:before{
        opacity: 1;
        bottom: -8px;
        left: -8px;
    }
    .nav-list a:hover:after{
        opacity: 1;
        top: -8px;
        right: -8px;
    }

    /*--------------------------------------*/
    .contCV:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .grid-box:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .grid-box:after {
        content: '\2192'; /* C칩digo de flecha hacia la derecha en Unicode */
          position: absolute;
          bottom: -11px;
          right: 32px;
          font-size: 28px;
          font-weight: bold;
          color: #050505;
          opacity: 0;
          transition: opacity 0.3s ease;
          transform: translate(-50%, -50%)
      }
    .grid-box:hover::after {
        opacity: 1;
    }
    .ancla:hover{
        color: #2b2b2b;
        transform: scale(1.3);
    }

    .contacto button:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .piepg .grupo1 .box .redsocial .ig:hover{
        color: #F7006E;
        filter: drop-shadow(2px 0 1px  #F7006E);
        transform: scale(1.3);
    }
    .piepg .grupo1 .box .redsocial .fb:hover{
        color: #395CFF;
        filter: drop-shadow(2px 0 1px  #395CFF);
        transform: scale(1.3);
    }
    .piepg .grupo1 .box .redsocial .lk:hover{
        color: #0866C2;
        filter: drop-shadow(2px 0 1px  #0866C2);
        transform: scale(1.3);
    }
    .piepg .grupo1 .box .redsocial .gb:hover{
        color: #E6EDF3;
        filter: drop-shadow(1px 0 0px  #E6EDF3);
        transform: scale(1.3);
    }
    .piepg .grupo1 .box .redsocial .wp:hover{
        color: #2FC440;
        filter: drop-shadow(1px 0 1px  #2FC440);
        transform: scale(1.3);
    }  
    
}/*finnn hover:hover*/

/*Responsive NAV */
@media screen and (max-width:750px) {
    .abrir-menu, .cerrar-menu{
        display:block; /* para que se vean */
        /*estilos de los iconos del menu*/
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: rgb(255, 255, 255);
        width: 50px;
    }
    .bi-x-lg, .bi-list{
        font-size: 40px
    }

    .cerrar-menu{
        color: white;
    }
    .nav{
        /*para que este oculto, y solo se abra al toca el button*/
        opacity: 0;
        visibility: hidden;
        z-index: 2;
    }
    .nav{
        display: flex; /*para poder alinear el button, usando flex column y alinitem end*/
        flex-direction: column;
        align-items: end;
        gap: 1em;
        position: absolute;
        top:1; /* para que esten en la parte superior*/
        bottom: 0;
        right: 0; /*para que esten a la derecha*/
        padding: 1.5rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5); /*para a침adir el shadow al abrir el menu desplegable*/
    }
    .nav.visible{
        /*esta clase con jvs hace que se a침ada al nav para mostrarlo*/
        opacity: 1;
        visibility: visible;
        background-color: #020102;
        height:10px;
    }
    .nav-list{
        flex-direction: column; /* para que con el display flex de navlist se pongan uno debajo del otro*/
        align-items: end; /* hace que empiece el texto de la parte derecha*/
    }
    .nav-list li a{
        color: aliceblue;
    } 
}

/*respondive articulo sobre mi*/
@media screen and (max-width:1240px){
    .articulo-sobremi{
        flex-direction: column-reverse;
    }
    .contSobreMi {
        width: auto;
    }
}

/* responsive FOOTER*/
@media screen and (max-width:860px){
    .piepg .grupo1{
        grid-template-columns: repeat(1, 1fr); /*es para que haya 1 columnas y ocupen todo el ancho*/
        grid-gap: 30px; /* es el margen entre cada columna*/ 
        padding: 24px 0px; /*45 hacia arriba y 0 hacia los costados*/
    }
    
    .contacto{
        width: 500px;
        margin: auto;
        margin-top: 10px;
    }

    @media screen and (max-width: 530px){
        .contacto{
            width: 400px;
        }
    }
}

/* respondive portfolios*/
@media screen and (max-width:1053px){
    .grid-portafolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .grid-box{
        width: 100%;
        max-width: 600px;
    }
    .articulo-habilidades, .articulo-portafolio{
        margin: 100px 50px 100px 40px;
        padding: 50px;
    }
    .h2-sobremi{
        margin-top: 130px;
        margin-left: 91px;
    }

    
}

@media screen and (max-width:639px){
    .articulo-sobremi, .articulo-habilidades, .articulo-portafolio{
        margin: 60px 0 60px 0;
        padding: 40px;
    } 
}

@media screen and (max-width:440px){
    .contacto{
        width: 300px;
        margin: auto;
        margin-top: 10px;
    }

    .articulo-portafolio h2, .articulo-habilidades h2, .articulo-sobremi h2{
        margin: 0 auto; /* centra los h2 con el width: fit content*/    
    }
    .articulo-sobremi, .articulo-habilidades, .articulo-portafolio{
        margin: auto;
        padding: 40px 10px 40px 10px;
    }
}
