* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}


body{
    font-family: 'Rajdhani';
    background-color:  #f7f7f7;
    color: #222222;
}

/* --green-50: #effeef;
--green-100: #d9ffd9;
--green-200: #b6fcb7;
--green-300: #7df880;
--green-400: #25e92b;
--green-500: #13d419;
--green-600: #09b00f;
--green-700: #0b8a11;
--green-800: #0f6c13;
--green-900: #0e5913;
--green-950: #013205; */

header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content: right;
    position: fixed;
    z-index: 1;
}
.abrir-menu, .cerrar-menu{
    display: none;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    color: aliceblue;
    padding: 1rem;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    text-transform: uppercase;
    position: relative;
    padding: 3px;
    transition: font-size 0.3s ease;
}
.nav-list li a:hover{
    font-size: 20px;
}
.nav-list li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #13d419;
    /*De donde se quiere que empiece la animancion*/
    transform-origin: left;
    transform: scale(0);

    transition: transform 0.5s ease-in-out;
}
.nav-list li a:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #13d419;
    /*De donde se quiere que empiece la animancion*/
    transform-origin: right;
    transform: scale(0);

    transition: transform 0.5s ease-in-out;
    transition: font-size 0.3 ease;
}
.nav-list li a:hover:after,.nav-list li a:hover::before {
    transform: scale(1)
}

.div-inicio{
    height: 100vh;
    width: 100%;
    position: relative;
}
.div-inicio-yo{
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
    word-wrap: break-word;
}
.div-inicio-yo h2{
    margin-top:60px;
    color: white;
    padding-left: 30px;
}
.inicio-img-yo{
    border-radius:50%;
    width: 200px;
    height: 190px;
    object-fit: cover;
}
.gifs-inicio{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(0.4)
}

/* ESPACIADO DE LAS CAJAS CONTENEDORAS PRINCIPALES DE LA PAGINA*/
.articulo-sobremi, .articulo-habilidades, .articulo-portafolio{
    margin: 100px;
    padding: 50px;
}
.resalt{
    color: #13d419;
    font-weight: bold;
}
-----------------------------------------------------
/* ARTICULO SOBRE MI */
.articulo-sobremi h2 {
    padding: 20px;
    background-color: rgb(222, 223, 223);
    width: fit-content;
}

.contSobreMi p {
    margin-top: 40px;
    margin-left: 40px;
}
.ancla-btn{
    display: inline-block;
}
.contCV{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25e92B;
    color: rgb(3, 3, 3);
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    gap: 1rem;
    transition: transform 0.3s ease;
}
.contCV:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.contSobreMi p{
    line-height: 1.5;
    margin-bottom: 20px;
}
-------------------------------------------------------------
/* HABILIDADESSS*/

.articulo-habilidades h2 {
    padding: 20px;
    background-color: rgb(222, 223, 223);
    width: fit-content;
}
.box-habilidades img,.box-habilidades p {
    padding-left:32px;
}

.box-habilidades{
    padding-top: 40px;
    width: 400px;
    padding-right: 50px;
    display: inline-block;
}
.flex-Habilidades img{
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
}
-----------------------------------------------------------
/* Articulo porfatoflios*/

.articulo-portafolio h2 {
    padding: 20px;
    width: fit-content;
}
.grid-box h4{
    text-align: center;
}
.grid-box p{
    padding: 10px 5px 30px 5px; /* arriba derecha abajo izquierda */
}
.ancla{
    float: right;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 5px;
    right: 15px;
}
.ancla:hover{
    color: #2b2b2b;
    transform: scale(1.3);

}
.tecn-proyect{
    display: flex;
    align-items: center;
    justify-content: left;
}
.tecn-proyect p{
    padding: 5px;
    color: #397a3b;
}
.bi{
    font-size: 1.5rem;
}
/* CONTENEDOR PORTAFOLIOS GRID*/
.contenedor-portafolio{
    width: 100%;
    height: auto;
}
.contenedor-portafolio h3{
    text-align: center;
}
.grid-portafolio{
    padding: 50px;

    /*el grid es para cuanto tengas mas proyectos*/
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 3rem; */
    display: flex;
    gap: 5rem;
}
.grid-box{
    background-color: #e4e4e4;
    width: 250px;
    min-width: 250px;
    height: auto;
    min-height: 300px;
    padding: 12px;
    position: relative;
    transition: transform 0.3s ease
}
.grid-box:hover{
    transform: scale(1.03);
}
.grid-box:after {
    content: '\2192'; /* C칩digo de flecha hacia la derecha en Unicode */
      position: absolute;
      bottom: -11px;
      right: 32px;
      font-size: 28px;
      font-weight: bold;
      color: #050505;
      opacity: 0;
      transition: opacity 0.3s ease;
      transform: translate(-50%, -50%)
  }
.grid-box:hover::after {
    opacity: 1;
}

.grid-box a{
    text-decoration: none;
}
.grid-box img {
    border-radius: 8px;
    width: 95%;
    height: 180px;
    padding: 5px;
    object-fit: cover;
}
-------------------------------------------------------------
/* FOOTER */
.piepg, .grupo1, .grupo2{
    z-index: 1;
}
.piepg{
    background-color: #1D5A5A;
    width: 100%;
    color: white;
}
.piepg .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto; /*para que este centrado el grupo 1*/
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*es para que haya 3 columnas y ocupen todo el ancho las 3 columnas */
    grid-gap: 50px; /* es el margen entre cada columna*/
    padding: 24px 0px; /*45 hacia arriba y 0 hacia los costados*/
}

/*Estilos de la caja de contactos en el footer*/
.contacto{
    width: 90%;
	height: 380px;
	background: #000;
	color: #fff;
    margin-top: 25px;
    margin-left: 60px;
	padding: 20px 30px;  /* peque침o espaciado adentro */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.box1 h2{
    text-align: center;
    padding-bottom: 25px;
}

.box-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto label{
    margin: 0;
	padding: 0;
    margin-bottom: 3px;
	font-weight: bold;
	display: block;
}
.contacto input{
	width: 100%;
	margin-bottom: 20px;
}

.contacto .lbtext {
	border: none;
	height: 40px;
	background: #e4e3e3;
	color: #2c2c2c;
	font-size: 18px;
	border-radius: 2%;
	cursor: text;
    padding: 5px;
    box-sizing: border-box
}
.contacto .lbsms{
    border: none;
	height: 80px;
	background: #e4e3e3;
	color: #2c2c2c;
	font-size: 18px;
	border-radius: 2%;
    cursor: text;
    padding: 5px;
    box-sizing: border-box
}

.contacto button {
	border: none;
	height: 40px;
    margin-top: 20px;
	background: #a2091b;
	color: #fff;
	font-size: 18px;
	border-radius: 2%;
	cursor: pointer;
    transition: transform 0.3s ease;
}
.contacto button:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contacto .micorreo{
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}
.contacto .micorreo i{
    padding-right: 4px;
}


.box h2{
    color: #FFFFFF;
    font-size: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redsocial{
    margin-top: 25px;
}
.piepg .grupo1 .box .redsocial a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}
/* .piepg .grupo1 .box .redsocial a:hover{
    color: #2b2b2b;
    transform: scale(1.3);
} */
/* .piepg .grupo1 .box .redsocial a:hover{
    color: #2b2b2b;
    transform: scale(1.3);
} */

.piepg .grupo1 .box .redsocial .ig:hover{
    color: #F7006E;
    filter: drop-shadow(2px 0 1px  #F7006E);
    transform: scale(1.3);
}
.piepg .grupo1 .box .redsocial .fb:hover{
    color: #395CFF;
    filter: drop-shadow(2px 0 1px  #395CFF);
    transform: scale(1.3);
}
.piepg .grupo1 .box .redsocial .lk:hover{
    color: #0866C2;
    filter: drop-shadow(2px 0 1px  #0866C2);
    transform: scale(1.3);
}
.piepg .grupo1 .box .redsocial .gb:hover{
    color: #E6EDF3;
    filter: drop-shadow(1px 0 0px  #E6EDF3);
    transform: scale(1.3);
}
.piepg .grupo1 .box .redsocial .wp:hover{
    color: #2FC440;
    filter: drop-shadow(1px 0 1px  #2FC440);
    transform: scale(1.3);
}
.piepg .grupo2{
    background-color: rgb(0, 0, 0);
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.piepg .grupo2 small{
    font-size: 15px;
}
.ftimglogo{
    width: 150px;
    height: 40px;
}
.grupo1{
    background-color: (#852727;
}
/*-----------------------------------------------------*/

/*Responsive FOOTER*/
@media screen and (max-width:550px) {
    .abrir-menu, .cerrar-menu{
        display:block; /* para que se vean */
        /*estilos de los iconos del menu*/
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: rgb(255, 255, 255);
    }
    .cerrar-menu{
        color: white;
    }
    .nav{
        /*para que este oculto, y solo se abra al toca el button*/
        opacity: 0;
        visibility: hidden;
        z-index: 2;
    }
    .nav{
        display: flex; /*para poder alinear el button, usando flex column y alinitem end*/
        flex-direction: column;
        align-items: end;
        gap: 1em;
        position: absolute;
        top:0; /* para que esten en la parte superior*/
        bottom: 0;
        right: 0; /*para que esten a la derecha*/
        padding: 1.5rem;
        background-color: rgb(27, 26, 26);
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5); /*para a침adir el shadow al abrir el menu desplegable*/
    }
    .nav.visible{
        /*esta clase con jvs hace que se a침ada al nav para mostrarlo*/
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column; /* para que con el display flex de navlist se pongan uno debajo del otro*/
        align-items: end; /* hace que empiece el texto de la parte derecha*/
    }
    .nav-list li a{
        color: aliceblue;
    }
}

/* responsive nav*/
